<h2>Recent Uploads</h2>

<div class="card-columns">
  <% @image.each do |image| %>
    <div class="card">
      <div class="card-body p-1">
      <% if image.image.attached? %>
      <p>
        <%= image_tag image.image %>
      </p>
    <% end %>
        <p class="my-1"><%= image.caption %></p>

        <%= link_to "View Image", image_path(image.id), class: 'btn btn-secondary stretched-link' %>
      </div>
    </div>
  <% end %>
</div>